:root {
    --seat-free: rgb(125 177 229);
    --seat-reserved-other: rgba(128 128 128 / 50%);
    --seat-reserved-client: rgb(255 170 0);
    --primary-btn: #893dd0;
    --disabled-btn: rgba(120 120 128 / 8%);
    --primary-shadow: rgba(99 99 99 / 20%) 0px 2px 8px 0px;
    --secondary-shadow: rgba(0 0 0 / 10%) 0px 10px 50px;
    --third-shadow: rgba(0 0 0 / 5%) 0px 6px 24px 0px,
        rgba(0 0 0 / 8%) 0px 0px 0px 1px;
    --primary-border: 1px solid rgba(120 120 128 / 20%);
    --primary-white: rgb(255 255 255);
    --primary-danger: rgb(239 68 68);
    --primary-icon: rgba(60 60 67 / 30%);
    --secondary-icon: #42d392;
}