@import url("./colors.css");
@import url("./reset.css");

@font-face {
    font-family: "SB Sans";
    font-weight: 100 800;
    font-stretch: 75% 112.5%;
    src: url("/SBSansInterface.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik Bold";
    font-weight: 700;
    src: url("/Rubik-Bold.woff") format("woff");
}

body {
    font-family: "SB Sans", sans-serif;
    font-size: 14px;
}

.off-scroll {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.image-settings {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.6rem;
    overflow: hidden;
    display: block;
}

.head-icon {
    width: 25px;
    height: 25px;
    fill: var(--primary-white);
}

.back-icon {
    width: 18px;
    height: 18px;
    fill: var(--primary-icon);
    stroke: var(--primary-icon);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0 0 0 / 20%);
    border-radius: 0.5rem;
}